.carousel .item {
  padding-top: 80px;
  height: 200px;
  background-color: #212121; 
  color: #FFF;
}

.aboutcontent{
	padding: 20px;
}

.rimage{
	width: auto;
	height: 60px;
	border: solid 2px #CCC;
}
