
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Declare heights because of positioning of img element */
.carousel .item {
  padding-top: 100px;
  height: 350px;
  background-color: #212121; 
}

.allproductsimg{
	height: 250px;
	width: auto;
}

.imagecontainer{
	float: left;
}

.pimage{
	width: auto;
	height: 250px;
	border: solid 4px #CCC;
}

.producttype{
	padding: 10px;
}

.titlesection{
	margin-top: 80px;
}
 
.carousel .item li {
  color: #FFF;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}
  
.carousel .item li a {
  text-decoration: none;
  display: block;
  color: #FFF;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.carousel .item li a:hover {
  font-size: 22px;
  color: #FFF;
}

.lead{
	font-size: 16px;
}


h1{
	color: #FFF;
}

h3{
	color: #777;
}

th{
	color: #777;
}

td{
	color: #777;
}